body[pf-active="true"]{

	background-color:#eee
}
nav[pf-active="true"]{background-color:#4a9ec7; box-shadow: 0px 5px 5px #888888;z-index:100;position:relative}
.pf-content-body-100,.pf-content-body-80,.pf-content-footer-80,.pf-content-footer-100{background-color:#fff;margin:10px auto;}


/* pf js ui design */

.pf-js-body-append-title{padding:5px}
 #pf-dialog-close{font-size:20px;position:absolute;right:0;top:0;margin-top:0px;margin-right:0px;cursor:pointer}
.pf-js-body-append-body-bckgrnd{	 background-color:rgba(200,200,200,.6)		}
.pf-js-body-append-body{	height:100%		}
.pf-table-content-list thead tr,.pf-table_content_scroll-x thead tr{background-color:#2c87b3;}
.pf-table-content-list tbody tr:nth-child(even),.pf-table_content_scroll-x tbody tr:nth-child(even){background-color:#a2d4ed}
.pf-table-content-side,.pf-table-content-list,.pf-table_content_scroll-x{border:1px solid #2c87b3;clear:both;width:100%}

.pf-js-pop-label{background-color:#fff;font-size: 32px;margin:3px;padding: 3px;border:3px solid #00f;}

